/**************** VARIABLES *******************/
$row-width: 1140px;
$color-white: white;
$color-orange:#e67e22;
$color-orange-dark: #cf6d17;
$font-family: 'Lato', sans-serif;
$base-font-size: 20px;
$base-font-weight: 300;

/**************** RESET *******************/
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   background: white;
   color: #555;
   font-family: $font-family;
   font-size: $base-font-size;
   font-weight: $base-font-weight;
   text-rendering: optimizeLegibility;
}

// Initialize Grid Width and Center
.row {
   max-width: $row-width;
   margin: 0 auto;
}

/**************** COMMON *******************/
.btn {

   &:link,
   &:visited {
      display: inline-block;
      padding: 10px 30px;
      font-weight: 300;
      text-decoration: none;
      border-radius: 200px;
      transition: all .2s;
      margin-right: 15px;
   }

   &:hover,
   &:active {
      color: $color-white !important;
      background-color: $color-orange-dark !important;
      border: 1px solid $color-orange !important;
   }

   &.btn-full:link,
   &.btn-full:visited {
      color: $color-white;
      background-color: $color-orange;
      border: 1px solid $color-orange;
   }

   &.btn-outline:link,
   &.btn-outline:visited {
      color: $color-orange;
      border: 1px solid $color-orange;
   }

   
}

/**************** HEADER *******************/
header {
   background-image: linear-gradient(rgba(0,0,0,.7),rgba(0,0,0,.7)) , url(/assets/css/img/hero.jpg);
   background-size: cover;
   background-position: center center;
   background-repeat: no-repeat;
   height: 100vh;

   .hero-text-box {
      position: absolute;
      width: $row-width;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      h1 {
         margin-top: 0;
         margin-bottom: 20px;
         color: $color-white;
         font-size: 200%;
         font-weight: 300;
         text-transform: uppercase;
         letter-spacing: 1px;
         word-spacing: 4px;
      }

   }
}



/**************** HEADER *******************/
/**************** HEADER *******************/