/**************** VARIABLES *******************/
/**************** RESET *******************/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

html, body {
  background: white;
  color: #555;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: '.';
  clear: both;
  display: block;
  height: 0;
  visibility: hidden;
}

/**************** COMMON *******************/
.btn, .btn:link, .btn:visited, input[type=submit], input[type=submit]:link, input[type=submit]:visited {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  -webkit-transition: all .2s;
  transition: all .2s;
  margin-right: 15px;
}

.btn:hover, .btn:active, input[type=submit]:hover, input[type=submit]:active {
  color: white !important;
  background-color: #cf6d17 !important;
  border: 1px solid #e67e22 !important;
}

.btn.btn-full, .btn.btn-full:link, .btn.btn-full:visited, input[type=submit].btn-full, input[type=submit].btn-full:link, input[type=submit].btn-full:visited {
  color: white;
  background-color: #e67e22;
  border: 1px solid #e67e22;
}

.btn.btn-outline, .btn.btn-outline:link, .btn.btn-outline:visited, input[type=submit].btn-outline, input[type=submit].btn-outline:link, input[type=submit].btn-outline:visited {
  color: #e67e22;
  border: 1px solid #e67e22;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  text-transform: uppercase;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  color: white;
  font-size: 200%;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
}

h2::after {
  display: block;
  height: 2px;
  background-color: #e67e22;
  content: "";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}

h3 {
  font-size: 110%;
  margin-bottom: 15px;
}

a:link,
a:visited {
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  -webkit-transition: all .3s;
  transition: all .3s;
}

a:hover,
a:active {
  text-decoration: none;
  color: #555;
  border-bottom: 1px solid #555;
}

.lead {
  line-height: 145%;
  width: 70%;
  margin-left: 15%;
}

section {
  padding: 80px 0;
}

.box {
  padding: 1%;
}

.box p {
  font-size: 90%;
  line-height: 145%;
}

.icon-big {
  display: block;
  color: #e67e22;
  font-size: 350%;
  text-align: center;
  margin-bottom: 20px;
}

.icon-small {
  display: inline-block;
  width: 30px;
  text-align: center;
  color: #e67e22;
  font-size: 120%;
  margin-right: 10px;
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}

/**************** HEADER *******************/
header {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../css/img/hero.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../css/img/hero.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

header .logo {
  height: 100px;
  width: auto;
  float: left;
  margin-top: 20px;
}

header .logo-black {
  display: none;
}

header .logo {
  display: block;
}

header .main-nav {
  float: right;
  list-style: none;
  margin-top: 55px;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

header .main-nav li {
  display: inline-block;
  margin-left: 40px;
}

header .main-nav li a:link,
header .main-nav li a:visited {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 90%;
  padding: 8px 0px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-bottom .2s;
  transition: border-bottom .2s;
}

header .main-nav li a:link:hover, header .main-nav li a:link:active,
header .main-nav li a:visited:hover,
header .main-nav li a:visited:active {
  border-bottom: 2px solid #e67e22;
}

header .hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .sticky-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  -webkit-box-shadow: 0px 2px 0px #eee;
          box-shadow: 0px 2px 0px #eee;
  z-index: 9999;
}

header .sticky-nav .logo-black {
  display: block;
  height: 45px;
  width: auto;
  float: left;
  margin: 5px 0;
}

header .sticky-nav .logo {
  display: none;
}

header .sticky-nav .main-nav {
  margin-top: 19px;
}

header .sticky-nav .main-nav li a:link,
header .sticky-nav .main-nav li a:visited {
  padding: 12px 0;
  color: #555;
}

/**************** FEATURES *******************/
#features .lead {
  margin-bottom: 35px;
}

/**************** MEALS *******************/
#meals {
  padding: 0;
}

#meals .meals-showcase {
  list-style: none;
  width: 100%;
}

#meals .meals-showcase li {
  display: block;
  float: left;
  width: 25%;
}

#meals .meals-showcase li .meal-pic {
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #000;
}

#meals .meals-showcase li .meal-pic img {
  opacity: .7;
  width: 100%;
  height: auto;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all .5s;
  transition: all .5s;
}

#meals .meals-showcase li .meal-pic img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

/**************** HOW IT WORKS *******************/
#how-it-works {
  background-color: #f4f4f4;
}

#how-it-works .step-box:first-child {
  width: 35%;
  text-align: right;
  padding-right: 3%;
}

#how-it-works .step-box:last-child {
  padding-left: 3%;
}

#how-it-works .step-box .btn-app {
  display: inline-block;
  padding-top: 80px;
}

#how-it-works .step-box .btn-app:link, #how-it-works .step-box .btn-app:visited {
  border: 0;
}

#how-it-works .step-box .btn-app img {
  height: 50px;
  width: auto;
}

#how-it-works .app-screen {
  width: 70%;
  height: auto;
}

#how-it-works .step {
  margin-top: 35px;
}

#how-it-works .step div {
  display: inline-block;
  color: #e67e22;
  border: 2px solid #e67e22;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 9px;
  float: left;
  font-size: 150%;
  margin-right: 25px;
}

#how-it-works .step p {
  padding-top: 5px;
}

#how-it-works .step p:last-of-type {
  padding-bottom: 5px;
}

/**************** LOCATIONS *******************/
#locations img {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

#locations .location-feature {
  margin-bottom: 5px;
}

#locations .location-feature i {
  color: #e67e22;
  margin-right: 5px;
}

/**************** TESTIMONIALS *******************/
#testimonials {
  color: white;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.8))), url(../img/back-customers.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/back-customers.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#testimonials blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  position: relative;
}

#testimonials blockquote:before {
  position: absolute;
  top: -5px;
  left: -6px;
  content: "\201C";
  display: block;
  font-size: 500%;
  font-family: 'Times New Roman', Times, serif;
}

#testimonials blockquote cite {
  display: block;
  font-size: 90%;
  margin-top: 25px;
}

#testimonials blockquote cite img {
  height: 50px;
  width: auto;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 15px;
  vertical-align: middle;
}

/**************** PRICING *******************/
#pricing {
  background-color: #f4f4f4;
}

#pricing .plan-card {
  background: white;
  border-radius: 5px;
  width: 90%;
  margin-left: 5%;
  -webkit-box-shadow: 0 2px 2px efefef;
          box-shadow: 0 2px 2px efefef;
}

#pricing .plan-card:first-child {
  margin-left: 0;
}

#pricing .plan-card div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}

#pricing .plan-card div:last-child {
  border: 0;
}

#pricing .plan-card .plan-header {
  background: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#pricing .plan-card .plan-header .price {
  color: #e67e22;
  font-size: 300%;
  font-weight: 200;
  margin-bottom: 10px;
}

#pricing .plan-card .plan-header .price span {
  font-size: 30%;
  font-weight: 300;
}

#pricing .plan-card .plan-header .meal {
  font-size: 80%;
}

#pricing .plan-card .plan-body ul {
  list-style: none;
}

#pricing .plan-card .plan-body ul li {
  padding: 5px 0;
}

#pricing .plan-card .plan-footer {
  text-align: center;
}

/**************** CONTACT *******************/
#contact form {
  width: 60%;
  margin: 0 auto;
}

#contact input[type=text],
#contact input[type=email],
#contact select,
#contact textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
  font-weight: 300;
  font-size: 90%;
}

#contact textarea {
  height: 100px;
}

#contact input[type=checkbox] {
  margin: 10px 5px 10px 0px;
}

/**************** FOOTER *******************/
footer {
  background: #333;
  color: #888;
  padding: 30px;
  font-size: 80%;
}

footer .footer-nav {
  list-style: none;
  float: left;
}

footer .social-links {
  list-style: none;
  float: right;
}

footer .footer-nav li, footer .social-links li {
  display: inline-block;
  margin-right: 20px;
}

footer .footer-nav li:last-child, footer .social-links li:last-child {
  margin-right: 0px;
}

footer .footer-nav li a:link,
footer .footer-nav li a:visited, footer .social-links li a:link,
footer .social-links li a:visited {
  text-decoration: none;
  border: 0;
  color: #888;
  -webkit-transition: color .2s;
  transition: color .2s;
}

footer .footer-nav li a:link.facebook, footer .footer-nav li a:link.twitter, footer .footer-nav li a:link.instagram, footer .footer-nav li a:link.youtube,
footer .footer-nav li a:visited.facebook,
footer .footer-nav li a:visited.twitter,
footer .footer-nav li a:visited.instagram,
footer .footer-nav li a:visited.youtube, footer .social-links li a:link.facebook, footer .social-links li a:link.twitter, footer .social-links li a:link.instagram, footer .social-links li a:link.youtube,
footer .social-links li a:visited.facebook,
footer .social-links li a:visited.twitter,
footer .social-links li a:visited.instagram,
footer .social-links li a:visited.youtube {
  font-size: 140%;
}

footer .footer-nav li a:hover,
footer .footer-nav li a:active, footer .social-links li a:hover,
footer .social-links li a:active {
  color: #ddd;
}

footer .footer-nav li a:hover.facebook,
footer .footer-nav li a:active.facebook, footer .social-links li a:hover.facebook,
footer .social-links li a:active.facebook {
  color: #3b5998 !important;
}

footer .footer-nav li a:hover.twitter,
footer .footer-nav li a:active.twitter, footer .social-links li a:hover.twitter,
footer .social-links li a:active.twitter {
  color: #55acee !important;
}

footer .footer-nav li a:hover.instagram,
footer .footer-nav li a:active.instagram, footer .social-links li a:hover.instagram,
footer .social-links li a:active.instagram {
  color: #FBCD6A !important;
}

footer .footer-nav li a:hover.youtube,
footer .footer-nav li a:active.youtube, footer .social-links li a:hover.youtube,
footer .social-links li a:active.youtube {
  color: #ff0000 !important;
}

footer p {
  text-align: center;
  margin-top: 20px;
}

/**************** MEDIA QUERIES *******************/
@media only screen and (max-width: 1200px) {
  .row {
    padding: 0 2%;
  }
  header .hero-text-box {
    width: 100%;
    padding: 0 2%;
  }
}

@media only screen and (max-width: 1023px) {
  body {
    font-size: 18px;
  }
  section {
    padding: 60px 0;
  }
  .lead {
    width: 80%;
    margin-left: 10%;
  }
  .icon-small {
    width: 8%;
  }
  #how-it-works .step-box .step {
    margin-top: 10px;
  }
  #how-it-works .step-box .btn-app {
    display: inline-block;
    padding-top: 40px;
  }
  #locations img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
  }
  #locations .location-feature {
    font-size: 80%;
  }
  #locations .location-feature i {
    color: #e67e22;
    margin-right: 5px;
  }
  #pricing .plan-card {
    width: 100%;
  }
  #pricing .plan-card .plan-header .price {
    font-size: 250%;
  }
  #pricing .plan-card .plan-body li {
    font-size: 85%;
  }
  #pricing .plan-card .plan-body li i {
    margin-right: 2px;
  }
  #contact form {
    width: 80%;
  }
  footer .footer-nav li {
    margin-right: 17px;
  }
  footer .footer-nav li:last-child {
    margin-right: 0px;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  section {
    padding: 30px 0;
  }
  .row, header .hero-text-box {
    padding: 0 4%;
  }
  .col {
    width: 100%;
    margin: 0 0 4% 0;
  }
  h1 {
    font-size: 180%;
  }
  h2 {
    font-size: 150%;
  }
  .lead {
    width: 100%;
    margin-left: 0;
  }
  .main-nav {
    display: none;
  }
  #features h2, #features h3, #features p {
    text-align: center;
  }
  #features p {
    margin-bottom: 26px;
  }
  #how-it-works .step-box:first-child {
    padding: 0;
    width: 100%;
    text-align: center !important;
  }
  #how-it-works .step-box:last-child {
    padding: 0;
    width: 70%;
    margin-left: 15%;
  }
  #how-it-works .step-box:last-child .app-button-align {
    text-align: center !important;
  }
  #how-it-works .step-box .btn-app {
    display: inline-block;
    padding-top: 20px;
    padding-right: 20px;
  }
  #how-it-works .step-box .btn-app:last-child {
    padding-right: 0px;
  }
  #how-it-works .step-box .btn-app:link, #how-it-works .step-box .btn-app:visited {
    border: 0;
  }
  #how-it-works .step-box .btn-app img {
    height: 40px;
    width: auto;
  }
  #how-it-works .app-screen {
    width: 40%;
    height: auto;
    margin-bottom: 15px;
  }
  #how-it-works .step {
    margin-top: 35px;
  }
  #how-it-works .step div {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    padding: 6px;
    float: left;
    font-size: 120%;
    margin-right: 15px;
  }
  #how-it-works .step p {
    font-size: 90%;
  }
}

@media only screen and (max-width: 480px) {
  #how-it-works .step-box:first-child {
    padding: 0;
  }
  #how-it-works .step-box:last-child {
    padding: 0;
    width: 90%;
    margin-left: 5%;
  }
  #how-it-works .step-box .btn-app img {
    height: 45px;
    width: auto;
  }
  #testimonials blockquote {
    margin-top: 35px;
  }
  #contact form {
    width: 100%;
  }
}

/********************* ANIMATIONS **********************/
.js--animate-1,
.js--animate-2,
.js--animate-3 {
  opacity: 0;
}

.js--animate-1.animated,
.js--animate-2.animated,
.js--animate-3.animated {
  opacity: 1;
}
/*# sourceMappingURL=style.css.map */